/node_modules
/public/storage
/.idea
Homestead.json
Homestead.yaml
.env
/public/r/docs/*
/public/r/php/docs/*
/public/r/pdf/*
/public/r/swftools/*
/public/r/php/config/*
/public/r/php/pdf/*
/public/r/php/docs/*
/ppmy/*
/pyublic/ppmy/*